# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

#ignore credentials files
credentials.json

# Ignore db.sqlite3 file
db.sqlite3

# Ignore environment files
.env
.env.local

# Ignore dependencies
node_modules/
venv/

# Ignore compiled files
*.pyc
*.class
*.o
*.exe

# Ignore system files
.DS_Store
Thumbs.db
